node_modules/
output.xml
# Local Netlify folder
.netlify
# used for Netlify serving 
web/src 

.vscode/

.venv/
logs/

qd/first_test/

src/data/tests/
__pycache__/

data/

*.mp4
*.xml
*.json
!package.json
*.pkl

*.png

*.egg-info